html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  /* The html and body elements cannot have any padding or margin. */
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/bebas-neue-fontfacekit/BebasNeue-webfont.eot');
    src: url('../fonts/bebas-neue-fontfacekit/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas-neue-fontfacekit/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/bebas-neue-fontfacekit/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/bebas-neue-fontfacekit/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.navbar .navbar-inner {
  height: 50px;
}

h1 {
  font-family: 'BebasNeueRegular';
  color: black;
  font-weight: normal;
  font-size: 45px;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-top: 8px;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  background-image: url("../img/binding_light.png");
}

#list {
  margin-top: 60px;
}

.element {
  width: 100%;
  min-height: 0px;
  height: 30px;
  border-radius: 0px;
  border-radius: 0px;
  font-size: 22px;
  padding-top: 7px;
  padding-left: 10px;
  padding-bottom: 0px;
}
